body {
  background-color: white;
}

form {
	background-color: lightgray;
	width: 264px;
	padding: 5px;
}

span {
	display: inline-block;
	width: 100px;
}

input {
	width: 150px;
}

select {
	width: 150px;
}