body {
  background-color: #CCCCCC;
}

nav {
	background-color: #444;
	padding: 0px;
	text-align: center;
	color: white;
}

footer {
	background-color: #444;
	padding: 5px;
	text-align: center;
	color: white;
}

ul {
	list-style:none;
	background-color: #444;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
li {
	font-size: 24px;
	height: 40px;
	padding: 20px;
	display: inline-block;
}

h2 {
	font-style: italic;
	font-size: 12;
}

selction {
	margin-left: 20px;
}